<html>
<head>

		<meta http-equiv="Content Type" content="text/html; charset=UTF-8"/>
		
<link rel="stylesheet" href="http://www.furaha-robin.com/~robinreid/sinatra/next_step/scripts/student.css" type= "textcss"charset="utf-8"/>
<!-- 			<script type="text/javascript" src="http://www.furaha-robin.com/~robinreid/sinatra/scripts/"></script> -->

	



</head>
<body>

<div id="container">
		
 			 <div id="header">
 			 <h1> Student Profile Information </h1></div>
 				
  					<div id = "personal">
					<p>Your chance to fill out your information</p>
					</div>
 			

		
 		 <div id = "student_info">
				<p> Here is how it works:</p>
			
					<div id = "student_form">
					
			 			<form action ="http://www.furaha-robin.com/~robinreid/sinatra/next_step/create_profile" method="POST">
  
  						<p>First:<input type="text" name="first"/></p>
						<p>Last: <input type="text" name="last"/></p>
						<p>Write something about yourself</br><textarea name="bio" rows="9" cols="105"></textarea></p>
 						<p>Create your profile <input type="submit" value="Submit" /></p>
						</form></div>
				</div> 

		
	</div>
</body>

</html>