
body{

height: 100%;
width: 100%;
font-family:'Futura';

}

#container {
position: absolute;
width: 90%;
height: 90%;
left: 20%;
}



#header{


position: absolute;
left: 10px;
height: 68px;
width:80%;
top: 60px;
}


#personal {

position: absolute;

width: 500px;
height: 120px;
top: 110px;
}

#student_info{

width: 100%;
height: 100%;
/* top: 50px; */

}


#student_form {
position: absolute;
top: 150px;

height: 600px;
width: 800px;
}

#profile_wrap{

position: absolute;
width: 90%;
left:30%;

}


#names{

position: absolute;
font-size: 34px;
font-weight: bold;
top: 55px;


}

#biography{

position: relative;
top: 5px;

width: 50%;
height: 300px;
}